.form_deg{
    padding-top: 200px;
   
}
.label_deg{
    display: inline-block;
    color:skyblue;
    width: 100px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.login_form{
    background-color: transparent;
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
}
center{
    padding-bottom: 40px;
    color: aliceblue;
    /* text-align: center; */
    font-weight: bold;
    
}